body{
    background-color: grey;
}

.first{
    background-color: green;
}

.second{
    background-color: red;
}


#product .list .list-group li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

i{
    font-size: 20px
}














